body{
    margin:0;
    padding-top:800px;
    text-align:center;
}
.profile{
    border-radius:50%;
}
#welcome{
    position: absolute;
    bottom:0;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: table;
    width:100%;
    height:100%;
}
h1{
    font:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:300;
}
#name{
    font-size: 50px;
    font-family: 'Babylonica', cursive;
}
#bio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:50px;
}
.row{
    height:12px;
    width:20px;
    background-color: black;
    margin:10px auto;
}
.parallax-inner{
    display:table-cell;
    vertical-align:middle;
}
.menu{
    list-style: none;
    position:fixed;
    background:#2f00ff;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top:0px;
}
.links{
    display:inline;
    padding-left: 30px;
    padding-right: 30px;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: black !important;
    
}
a{
    text-decoration: none;
}
.links:hover{
    font-size: 40px;
    text-decoration: underline;
}